footer {
    color: white;
    background: black;
    padding: 1rem;
    
    .footer-content-container {
      text-align: center;

      p {
        font-size: 16px;
      }
    }

    .footer-images {
      max-width: 100%;
      display: flex;
    }
  }