@font-face {
  font-family: 'JosefinSans-Bold';
  src: url('../fonts/static/JosefinSans-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family:'Mulish-Bold';
  src: url('../fonts/EET_Fonts/Mulish-Bold.ttf') format('ttf');
  
  font-weight: bold;
  font-style: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Use custom fonts
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Mulish';
}


.container {
  position: relative;
  max-width: 100%; 
  margin: 0 auto; 
}

.background {
  // border: 1px solid black;
  background-image: url(../images/Hero_1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 840px;
  margin: auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding-top: 10px;

  header{
    // border: 1px solid red;
    width: 100%;
  }

  .OnImage_Content{
    // border: 1px solid blue;
    width: 90%;
    padding-left: 10%;
    padding-top: 10%;

    h1{
      font-family: "JosefinSans-Bold";
      font-size: 72px;
      font-weight: 700;
      line-height: 82.8px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #FFFFFF;
    }
    p{
      //styleName: Heading / H5 / Semibold / Desktop;
      font-family: "JosefinSans-Bold";
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #FFFFFF;
    }
    button{
      border: 2px solid white;
      font-family: "JosefinSans-Bold";
      opacity: 1;
      background: transparent;
      color: white;
      padding: 10px 30px;
      border-radius:  20px 0px  20px 0px;
      cursor: pointer;
      transition: opacity 0.3s ease;
      font-size: 1rem;  

      &:hover{
        // background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);
        background: linear-gradient(90deg, #5F8AC7 -0.15%, #5F8AC7 14.85%, #78A293 42.85%, #99C152 81.85%, #A6CE39 99.85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;

  .logo {
      img {
        width: 100%
    }
  }
  
  .header-content-section{
    // border: 1px solid black;
    // width: 60%;
    display: flex;
    align-items: center;
    gap: 15px;

    .navigation { 
      ul {
        // border: 1px solid white;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          // border: 1px solid white;
          display: inline-block;
          margin-right: 20px; 
          font-family:'Mulish';
          font-size: 1.125rem;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: -0.01em;
          text-align: center;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              /* background: -webkit-linear-gradient(#eee, #333); */
              background: linear-gradient(90deg, #5F8AC7 -0.15%, #5F8AC7 14.85%, #78A293 42.85%, #99C152 81.85%, #A6CE39 99.85%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          &:last-child {
            margin-right: 0; 
          }
          
          .arrow {
            display: inline-block;
            transition: transform 0.3s ease;
          }
          
          .rotate {
              transform: rotate(180deg);
          }
          
          .dropdown-menu {
            width:10%;
              display: none;
              position: absolute;
              background-color: #fff;
              color: black;
              list-style-type: none;
              padding: 0;
              border-bottom: 4px solid;
              border-radius: 16px;
            
              &.show {
                display: block;
            }

            li {
              display: block;
              padding: 10px;
              text-align: left;
            }

            a {
              color: black;
              text-decoration: none;
  
              &:hover {
                /* background: -webkit-linear-gradient(#eee, #333); */
                background: linear-gradient(90deg, #5F8AC7 -0.15%, #5F8AC7 14.85%, #78A293 42.85%, #99C152 81.85%, #A6CE39 99.85%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
        .search-btn {
          // font-family: 'JosefinSans-Bold';
          opacity: 1;
          background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);      color: white;
          border: none;
          padding: 15px 40px;
          border-radius:0px 20px 0px 20px;
          cursor: pointer;
          transition: opacity 0.3s ease;
          font-size: 1rem;
          font-weight: 700;


          &:hover{
            border: 2px solid white;
            background: transparent;
            transition: 0.9s ease-in-out;
            background: linear-gradient(90deg, #5F8AC7 -0.15%, #5F8AC7 14.85%, #78A293 42.85%, #99C152 81.85%, #A6CE39 99.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

    }

    .search-box {
      position: relative;
      display: flex;
      align-items: center;

      .search-input {
        opacity: 0;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: opacity 0.3s ease;
      }
      .search-icon {
        background: none;
        border: none;
        cursor: pointer;

        .search-icon i {
          font-size: 20px; /* Adjust icon size */
        }
      }
      
      
    }
    
  
  

    // FOR Search INPUT
   
    
    .search-box:hover .search-input,
    .search-icon:hover + .search-input,
    .search-icon:hover + .search-input + .search-btn {
      opacity: 1;
    }
    
  }
}











// header, footer {
//   background-color: #333;
//   color: white;
//   padding: 20px;
//   width: 100%;
//   text-align: center;
// }
// section {
//   padding: 20px;
//   text-align: center;
// }

// main {
//   // border: 1px solid red;
//     font-size: 1.45rem;
//     max-width: 70%;
//     margin: 12rem auto 0;
    
//     article {
//       border-bottom: 1px solid #a6a6a6;

//       // .article_image {
//       //   width: 100%;

//         /* &:hover {
//             width: 20%;
//         } */
//       // }
//     }
    
//     .share-buttons {
//       width: max-content;
//       margin: 2rem auto;
      
//       a {
//         text-decoration: none;
//         color: #fdc500;
//         margin: 1rem;
//         position: relative;
        
//         &::before {
//           content:'';
//           position: absolute;
//           background: darkblue;
//           width: 3rem;
//           height: 3rem;
//           display: inline-block;
//           border-radius: 50%;
//           top: 0;
//           left: 0;
//           z-index: -1;
//           transform: translate(-32%, -32%);
//         }
//       }
//     }
//   }