@import "variable";

// Banner Section Start
#essar-banner {
  .essarbanner {
    background: url(../images/newsroom/banner-img.png);
    height: 400px;
    width: 98%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 1%;
    border-radius: $border-radius-3;

    .row-height {
      height: 720px;
    }

    .banner-bg {
      background: rgba(129, 128, 130, 255);
      position: absolute;
      bottom: 0;
      width: 100%;
      right: 0;
      height: 164px;
      border-bottom-left-radius: $border-radius-3;

      h2 {
        padding-left: 12%;
        font-weight: 400;
      }

      p {
        padding-left: 12%;
        font-size: 20px;
      }
    }
  }
}

#essar-curve {
  .essarcurve {
    .curve-img {
      margin-top: -130px;
      z-index: 999;
      position: absolute;
      right: 0px;
    }
  }
}

// End

#dealer-offer-curve {
  .dealeroffercurve {
    .curve-img {
      margin-top: -48px;
      z-index: 999;
      position: absolute;
      right: 0px;
    }
  }
}

#newsroom-section {
  .newsroom {
    .Explore_Cusomer_Offer_firstDiv {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 30px;

      .Explore_Cusomer_Offer_SubParentDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-family: Mulish;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 2px;
          margin: 0;
          text-align: left;
          background: linear-gradient(90deg, #5f8ac7 -.15%, #5f8ac7 14.85%, #78a293 42.85%, #99c152 81.85%, #a6ce39 99.85%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .Explore_Cusomer_Offer_horizontal_line {
          background-color: #d1d5db;
          height: 1.5px;
          width: 76%;
          margin-left: 20px;
        }
      }
    }

    .newsroom_Container_SecondDiv {
      h2 {
        font-size: 60px;
      }
    }
  }
}

/* Style the tab */
.tab {
  overflow: hidden;

  /* Style the buttons that are used to open the tab content */
  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 56px;
    margin-left: 28px;
    //   margin-bottom: 20px;
    transition: 0.3s;
    border-radius: 40px;

    &:hover {
      background: linear-gradient(92.86deg, rgba(95, 138, 199, .2) 0, rgba(95, 138, 199, .2) 17.53%, rgba(120, 162, 147, .2) 48.78%, rgba(153, 193, 82, .2) 82%, rgba(166, 206, 57, .2) 100%) !important;
    }


    .tab button.active {
      background: linear-gradient(92.86deg, rgba(95, 138, 199, .2) 0, rgba(95, 138, 199, .2) 17.53%, rgba(120, 162, 147, .2) 48.78%, rgba(153, 193, 82, .2) 82%, rgba(166, 206, 57, .2) 100%) !important;
    }
  }
}

.tab button.active {
  background: linear-gradient(92.86deg, rgba(95, 138, 199, .2) 0, rgba(95, 138, 199, .2) 17.53%, rgba(120, 162, 147, .2) 48.78%, rgba(153, 193, 82, .2) 82%, rgba(166, 206, 57, .2) 100%) !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

#footer{
  .newsroom-para{
    width: 80% !important;
  }
}