@import "variable";

#location-page {

  // Banner Section Start
  #location-banner {
    .locationbanner {
      background: url('../images/our-locations.png');
      height: 400px;
      width: 98%;
      background-repeat: no-repeat;
      background-size: 100%;
      margin-left: 1%;
      border-radius: $border-radius-3;
      @media only screen and (max-width: 600px) {
        height: 157px;
        background-size: cover;
        background-position: center;
        width: 90%;
        margin: auto;
      };

      .row-height {
        height: 300px;
        @media only screen and (max-width: 600px) {
          height: 157px;
        };
      }

      .banner-bg {
        background: rgba(129, 128, 130, 255);
        position: absolute;
        bottom: 0;
        width: 100%;
        right: 0;
        height: 164px;
        border-bottom-left-radius: $border-radius-3;


        h2 {
          padding-left: 12%;
          font-weight: 400;
          border: 1px solid red;
        }

        p {
          padding-left: 12%;
          font-size: 10px;
        }
      }
    }
  }

  #location-curve {
    .locationcurve {
      .curve-img {
        margin-top: -186px;
        z-index: 999;
        position: absolute;
        right: 0px;
      }
    }
  }

  // End

  #dealer-offer-curve {
    .dealeroffercurve {
      .curve-img {
        margin-top: -48px;
        z-index: 999;
        position: absolute;
        right: 0px;
      }
    }
  }

  #location-section {
    .location {
      .Explore_Cusomer_Offer_firstDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 30px;
        @media only screen and (max-width: 600px) {
          width: 90%;
          margin: auto;;
       };

        .Explore_Cusomer_Offer_SubParentDiv {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;


          p {
            font-family: Mulish;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 2px;
            margin: 0;
            text-align: left;
            background: linear-gradient(90deg, #5f8ac7 -.15%, #5f8ac7 14.85%, #78a293 42.85%, #99c152 81.85%, #a6ce39 99.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: -20px;
            @media only screen and (max-width: 600px) {
              font-size: 12px;
              line-height: 15px;
           };
          }

          .Explore_Cusomer_Offer_horizontal_line {
            background-color: #d1d5db;
            height: 1.5px;
            width: 85%;
            margin-left: 20px;
            @media only screen and (max-width: 600px) {
              width: 50%;
              margin-left: 10px;
           };
          }
        }
      }

      .newsroom_Container_SecondDiv {
        h2 {
          font-size: 60px;
          line-height: 65px;
          padding-left: 2.5rem !important;
          @media only screen and (max-width: 600px) {
            font-size: 1.5rem;
            line-height: 30px;
            padding-bottom: 0;
            padding-left: 1.5rem !important;
            margin-top: 25px;
         };
        }
      }

      .site-locator {
        background: linear-gradient(92.86deg, rgba(95, 138, 199, 0.2) 0%, rgba(95, 138, 199, 0.2) 17.53%, rgba(120, 162, 147, 0.2) 48.78%, rgba(153, 193, 82, 0.2) 82%, rgba(166, 206, 57, 0.2) 100%);
        border-radius: 15px;
        height: 84px;
        @media only screen and (max-width: 600px) {
           width: 90%;
           margin: auto;
           height: 180px;
           margin-top: 15px;
       };

        input {
          border-radius: 10px;
          border: 1px solid #D1D5DB;
          height: 52px;
          outline: none;
          padding-left: 15px;
          @media only screen and (max-width: 600px) {
            margin-top: 10px;
            height: 45px;
        };
        }

        input::placeholder {
          font-size: $fs-16;
          @media only screen and (max-width: 600px) {
            font-size: 14px;
        };
        }

        i {
          right: 30px;
          top: 10px;
          font-size: 20px;
          color: #4B5563;
          @media only screen and (max-width: 600px) {
            top: 18px;
          };
        }

        button {
          background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);
          border: none;
          border-radius: 0px 20px 0px 20px;
          padding: 10px 22.5px 10px 22.5px;
          transition: all 0.5s !important;
          height: 50px;
          width: 149px;
          font-weight: 600;
          @media only screen and (max-width: 600px) {
            margin-top: 15px;
          };

          h6 {
            color: #fff;
            transition: all 0.5s !important;
          }

          &:hover {
            background: #fff !important;

            h6 {
              background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              border: none;
            }
          }
        }
      }

      h5 {
        // color: $color-4;
        font-size: $fs-24;
      }
    }
  }

#maps-section {
  .mapssection {
      h6 {
          font-size: 16px;
          font-weight: 400;
          @media only screen and (max-width: 600px) {
              font-size: 14px;
          }
      }

      h5 {
          font-size: 20px;
          font-weight: 600;
          @media only screen and (max-width: 600px) {
              font-size: 16px;
          }
      }

      p {
          font-size: 16px;
          font-weight: 500;
          color: #4B5563;
          @media only screen and (max-width: 600px) {
              font-size: 14px;
          }
      }

      .for-scroll {
          height: 560px;
          overflow-y: scroll;
          overflow-x: hidden;
          @media only screen and (max-width: 600px) {
              width: 90%;
              margin: auto;
              height: 271px;
              padding-top: 15px;
          }
      }

      /* width */
      ::-webkit-scrollbar {
          width: 8px;

          /* Track */
          &-track {
              border-radius: 10px;
          }

          /* Handle */
          &-thumb {
              background: #ccc;
              border-radius: 10px;

              /* Handle on hover */
              &:hover {
                  background: #b30000;
              }
          }
      }
      .pumps-location {
          padding-left: 170px;
          @media only screen and (max-width: 600px) {
              padding-left: 0px;
          }
      }

      .our-loction-Map {
          .iframe_location {
              width: 100%;
              height: 100%;
              border-top-left-radius: 35px;
              border-bottom-left-radius: 35px;
              @media only screen and (max-width: 600px) {
                  width: 100%;
                  margin: auto;
                  height: 350px;
                  border-radius: 20px;
                  margin-top: 30px;
              }
          }
      }
      .Loaction-info-div {
          // border: 1px solid black;
          width: 98%;
          margin: auto;
          border-top: 1px solid rgba(209, 213, 219, 1);
          border-bottom: 1px solid rgba(209, 213, 219, 1);
          cursor: pointer;
          padding-right: 15px;
          @media only screen and (max-width: 600px) {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding-right: 15px;

        }

          &.active {
              border-radius: 40px;
              background: linear-gradient(92.86deg, rgba(95, 138, 199, .2) 0, rgba(95, 138, 199, .2) 17.53%, rgba(120, 162, 147, .2) 48.78%, rgba(153, 193, 82, .2) 82%, rgba(166, 206, 57, .2) 100%) ;
          }

          .hideArrowButton {
              display: none;
          }
      }
      .Loaction-info-div.active .hideArrowButton {
          display: block;
          width: 52px;
          height:52px;
          // padding: 16px 17px 16px 17px;
          border-radius: 0px 20px 0px 20px;
          background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);
          img{
            rotate: 180deg;
            margin-top: 20px;
          }
      }
  }
}


  @media only screen and (min-width: 1800px) and (min-height: 1169px) {
    #location-section {
      .location {
        .Explore_Cusomer_Offer_firstDiv {
          padding-left: 0px !important;
        }
      }
    }
  }

  @media only screen and (min-width : 1360px) and (max-width : 1440px) {
    #location-section {
      .location {
        .Explore_Cusomer_Offer_firstDiv {
          .Explore_Cusomer_Offer_SubParentDiv {
            .Explore_Cusomer_Offer_horizontal_line {
              width: 83%;
            }
          }
        }

        .newsroom_Container_SecondDiv {
          h2 {
            padding-left: 1.5rem !important;
          }
        }

        .site-locator {
          margin-left: 2rem !important;
        
        }
      }
    }

    #maps-section {
      .mapssection .for-scroll {
        margin-left: unset !important;
      }
    }
    #location-section {
      .location h5 {
        font-size: 20px !important;
      }
    }
  }

}