
.Refinery_Container{
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 150px;
    padding-bottom: 120px;
    

    .Refinery_Container_firstDiv{
        // border: 1px solid red;
        width: 50%;
        height: 430px;
        display: flex;
        flex-direction: row; // Added
        justify-content: flex-start;
        align-items: flex-start;

        .SubParent_div{
            width: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;

            .Refinery_horizontal_line{
                background-color: #D1D5DB;
                height: 1.5px;
                width: 60%;
                margin-left: 20px;
            }

            p{
                // font-family: Mulish;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 2px;
                text-align: left;
                background: linear-gradient(90deg, #5F8AC7 -0.15%, #5F8AC7 14.85%, #78A293 42.85%, #99C152 81.85%, #A6CE39 99.85%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
        }
              
 
       
    }
    .Refinery_Container_SecondDiv{
        // border: 1px solid blue;
        width: 50%;
        height: 430px;

        h2{
            font-size: 60px;
            font-weight: 600;
            line-height: 69px;
            letter-spacing: -0.02em;
            text-align: left;

            span{
               background: linear-gradient(90deg, #5F8AC7 -0.15%, #5F8AC7 14.85%, #78A293 42.85%, #99C152 81.85%, #A6CE39 99.85%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
            }
        }

        p{
           font-size: 18px;
           font-weight: 500;
           line-height: 28px;
           letter-spacing: -0.01em;
           text-align: left;
           color: #4B5563;
        }

        button{
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.02em;
            text-align: left;
            background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);
            padding: 16px 22.5px 16px 22.5px;
            gap: 6px;
            border-radius: 0px 20px 0px 20px;
            color: #F3F4F6;
            outline: none;
            border: none;
            margin-top: 25px;
        }
        

    }
}