$color-1:#4B5563;
$color-2:#1F2937;
$color-3:#D1D5DB;
$color-5:#E5E7EB;
$color-6:#45333f;
$color-7:#69707c;
$border-radius-1:20px;
$border-radius-2: 0 20px 0 20px;
$border-radius-3:48px;
$border-radius-4:40px;
$border-radius-5:64px;
$border-radius-6:32px;
$border-radius-7:24px;
$border-radius-8:0px 48px 48px 0px;
$white:#fff;
$black:#000;
$fs-10:10px;
$fs-36:36px;
$fs-18:18px;
$fs-14:14px;
$fs-60:60px;
$fs-40:40px;
$fs-28:28px;
$fs-48:48px;
$fs-20:20px;
$fs-24:24px;
$fs-32:32px;
$fs-16:16px;
$fs-55:55px;
.fs-16{
    font-size: 16px;
}
.fs-12{
    font-size: 12px;
}
.fs-20{
    font-size: 20px !important;
}
.color-1{
    color:#4B5563;
}
.fw-700{
    font-weight: 700;
}