$color-1:#4B5563;
$border-radius-1:20px; 
$border-radius-2: 0 20px 0 20px;
$border-radius-3:48px;
$border-radius-4:40px;
$border-radius-5:64px;
$border-radius-6:32px;
$border-radius-7:24px;
$white:#fff;
$black:#000; 
$fs-10:10px;